* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --gunmetal: hsl(215, 31%, 21%);
  --white: #fff;
  --dark-electric-blue: hsla(215, 17%, 44%, 1);
}

body {
  font-family: 'Inter', sans-serif;
  /* The below sets the insertion caret to transparent as css Grid allows insertion carets on elements that can have the contenteditable attribute (e.g text elements). I add color to any inputs where I want this visible*/
  caret-color: transparent;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-area {
  position: relative;
  display: grid;
  min-width: 23.4375rem; 
  grid-template-columns: minmax(1.5rem, 2.44rem) minmax(9rem, 20rem) minmax(2.5rem,10rem) minmax(9rem, 20rem) minmax(1.5rem, 2.44rem);
  grid-template-rows: 2rem 2.5rem 1.5rem auto 1.5rem auto 3rem 40.5625rem;
  grid-template-areas: 
  ". . . . ."
  ". . logo . ."
  ". . . . ."
  ". main-title main-title main-title ."
  ". . . . ."
  ". main-description main-description main-description ."
  ". . . . ."
  ". calculator calculator calculator ."
  ;
}

.title-gradient {
  position: absolute;
  width: 100%;
  height: 40rem;
  z-index: -1;
  border-radius: 0px 0px 35px 35px;
  background:linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  grid-area: logo;
  justify-self: center;
}

.main-title {
  color: var(--gunmetal, #253347);
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 110%; 
  letter-spacing: -2.4px;
  grid-area: main-title;
}

.main-description {
  color: var(--dark-electric-blue, #5E6E85);
  max-width: 30.625rem;
  justify-self: center;
  text-align: center;
  line-height: 150%; 
  grid-area: main-description;
}

.bmi-calculator {
  z-index: 2;
  max-width: 42.875rem;
  /* fit-content below allows the bmi-calculator to grow in line with the your-bmi-container where the calculator results and weight range guide can vary */
  height:fit-content;
  border-radius: 1rem;
  background-color: var(--white);
  grid-area: calculator;
  box-shadow: 1rem 2rem 3.5rem 0rem rgba(143, 174, 207, 0.25);
}

.details-capture {
  display: grid;
  grid-template-columns: minmax(1.5rem, 2rem) minmax(8.75rem, 22.5rem) minmax(8.75rem, 22.5rem) minmax(1.5rem, 2rem);
  grid-template-rows: 1.5rem 1.8125rem 1.5rem 1.9375rem 1.5rem 13.25rem 1.5rem 16.0625rem 1.5rem;
  grid-template-areas:
  ". . . ."
  ". bmi-sub-title bmi-sub-title ."
  ". . . ."
  ". met-imp-selector met-imp-selector ."
  ". . . ."
  ". bmi-details-input bmi-details-input ."
  ". . . ."
  ". your-bmi-container your-bmi-container ."
  ". . . ."
  ;
}

span {
  font-weight: 700;
}

.bmi-sub-title {
  grid-area: bmi-sub-title;
  color: var(--gunmetal);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.075rem;
  line-height: 150%;
}

.metric-imperial-selector {
  grid-area: met-imp-selector;
  display:grid;
  grid-template-columns: 1.9375rem 1.12rem minmax(4.9425rem, 15.63rem) 1.5rem 1.9375rem 1.12rem minmax(4.9425rem, 15.63rem);
  grid-template-rows: 1.9375rem;
  grid-template-areas: 
  "metric-radio . metric-label . imperial-radio . imperial-label";
}

.radio-label {
  line-height: 150%;
  font-weight: 600;
  align-self: center;
  color: var(--gunmetal);
}

.radio-label:first-of-type {
  grid-area: metric-label;
}

.radio-label:last-of-type {
  grid-area: imperial-label;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.9375rem;
  height: 1.9375rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  stroke-width: 1px;
  cursor: pointer;
}

input[type="radio"]:first-of-type {
  grid-area: metric-radio;
}

input[type="radio"]:last-of-type {
  grid-area: imperial-radio;
}

input[type="radio"]:focus, input[type="radio"]:hover {
  border-color: hsla(227, 92%, 58%, 1);
}

input[type="radio"]:before {
  background-image: url("img/Group32.svg")
}

input[type="radio"]:checked {
  background: url("img/Group32.svg") center;
}

.bmi-details-metric {
  display: grid;
  grid-area: bmi-details-input;
  grid-template-columns:minmax(1.5rem, 6rem) minmax(13.8125rem, 27.625rem) minmax(2.1875rem, 10.375rem);
  grid-template-rows: 1.8125rem 4.3125rem 1rem 1.8125rem 4.3125rem;
  grid-template-areas: 
  "metric-height-label metric-height-label ."
  "metric-height-input-container metric-height-input-container metric-height-input-container"
  ". . . "
  "metric-weight-label metric-weight-label ."
  "metric-weight-input-container metric-weight-input-container metric-weight-input-container";
}

.metric-height-input-container {
  grid-area: metric-height-input-container;
  display: grid;
  grid-template-columns:minmax(13.8125rem, 35rem) minmax(3.6875rem, 7.375rem);
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "metric-height-input metric-height-input";
}

.metric-weight-input-container{
  grid-area: metric-weight-input-container;
  display: grid;
  grid-template-columns: minmax(13.8125rem, 35rem) minmax(3.6875rem, 7.375rem);
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "metric-weight-input metric-weight-input";
}

#metricHeight {
  grid-area: metric-height-input;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:0.75rem;
}

#metricWeight {
  grid-area: metric-weight-input;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:0.75rem;
}

.height-measure-cm, .weight-measure-kg {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.075rem;
  color:hsla(227, 92%, 58%, 1);
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 1.25rem 1.5rem 0 0;
  justify-self: end;
}


.bmi-details-imperial {
  display: none;
  grid-area: bmi-details-input;
  grid-template-columns: minmax(1.5rem, 3rem) minmax(13.8125rem, 27.625rem) minmax(2.1875rem, 4.375rem);
  grid-template-rows: 1.8125rem 4.3125rem 1rem 1.8125rem 4.3125rem;
  grid-template-areas: 
  "imperial-height-label imperial-height-label . ."
  "imperial-height-input-container imperial-height-input-container imperial-height-input-container imperial-height-input-container"
  ". . . . "
  "imperial-weight-label imperial-weight-label . ."
  "imperial-weight-input-container imperial-weight-input-container imperial-weight-input-container imperial-weight-input-container";
}

.imperial-height-input-container{
  grid-area: imperial-height-input-container;
  display: grid;
  grid-template-columns:minmax(5.6875rem,15rem) minmax(2.5625rem, 5.125rem) minmax(1rem, 2rem) minmax(5.5rem, 15rem) minmax(2.75rem, 5.5rem);
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "imperial-height-input-ft imperial-height-input-ft . imperial-height-input-in imperial-height-input-in";
}

.imperial-weight-input-container{
  grid-area: imperial-weight-input-container;
  display: grid;
  grid-template-columns: minmax(5.6875rem,15rem) minmax(2.5625rem, 5.125rem) minmax(1rem,2rem) minmax(5.6875rem,15rem) minmax(2.5625rem, 5.125rem);
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "imperial-weight-input-st imperial-weight-input-st .  imperial-weight-input-lbs imperial-weight-input-lbs";
}

#imperialHeight-ft{
  grid-area: imperial-height-input-ft;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius: 0.75rem;
}

#imperialHeight-in{
  grid-area: imperial-height-input-in;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius: 0.75rem;
}

#imperialWeight-st{
  grid-area: imperial-weight-input-st;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius: 0.75rem;
}

#imperialWeight-lbs{
  grid-area: imperial-weight-input-lbs;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:0.75rem;
}

.height-measure-ft, .height-measure-in, .weight-measure-st, .weight-measure-lbs {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.075rem;
  color:hsla(227, 92%, 58%, 1);
  padding: 1.25rem 1.5rem 0 0;
  justify-self: end;
}

.height-measure-ft {
  grid-row: 1/2;
  grid-column: 2/3;
}

.height-measure-in {
  grid-row: 1/2;
  grid-column: 5/6;
}

.weight-measure-st {
  grid-row: 1/2;
  grid-column: 2/3;
}

.weight-measure-lbs {
  grid-row: 1/2;
  grid-column: 5/6;
  justify-self: end;
}

label[for="metricHeight"] {
  grid-area: metric-height-label;
}

label[for="metricWeight"] {
  grid-area: metric-weight-label;
}

label[for="metricHeight"], label[for="metricWeight"] {
  font-size: 0.875rem;
  color: hsla(215, 17%, 45%, 1);
}

label[for="imperialHeight"] {
  grid-area: imperial-height-label;
}

label[for="imperialWeight"] {
  grid-area: imperial-weight-label;
}

label[for="imperialHeight"], label[for="imperialWeight"] {
  font-size: 0.875rem;
  color: hsla(215, 17%, 45%, 1);
}

/* The below removes spinners in the numeric input field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* The below removes spinners in the numeric input field for Firefox*/
  -moz-appearance: textfield;
  font-family: 'Inter', sans-serif;
  border: none;
  font-size: 1.5rem;
  letter-spacing: -0.075rem;
  color:var(--gunmetal);
  font-weight: 600;
  padding: 0;
  caret-color: var(--gunmetal);
  cursor: pointer; 
}

input[type="number"]::placeholder {
  opacity: 0.25;
}

input[type="number"] + p {
  cursor: pointer;
}

input[type="number"]:active, input[type="number"]:focus {
  border: hsla(227, 92%, 58%, 1) 1px solid;
}

.your-bmi-container {
  border-radius: 1rem;
  padding: 2rem 2rem;
  grid-area: your-bmi-container;
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
  color: var(--white);
}

.your-bmi-title {
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.your-bmi-welcome, .your-bmi-feedback {
  font-size: 0.875rem;
  line-height: 150%;
}

.your-bmi-result {
  font-size: 3rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.15rem;
  padding: 0.5rem 0 1.5rem 0;
}

.bmi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.4756rem;
}

/* These swoop images are only visilble at deskop resolution */
.left-swoop-img {
  display: none;
}

.right-swoop-img {
  display: none;
}

.bmi-container-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-image-container {
  position: relative; 
  aspect-ratio: 1.1/1;
  width: 100%;
  margin: 4.5rem 0 3rem 0; 
}

.main-image {
  position: absolute;
  height: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: hsl(203, 92%, 95%, 1);
  border-radius: 2rem;
} 

.main-image-container > img  {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  width: 80%;
} 

.bmi-explanation-title {
  min-width: 20.5rem;
  max-width: 80%;
  color: var(--gunmetal);
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.1rem;
}

.bmi-explanation-text {
  min-width: 20.5rem;
  max-width: 80%;
  color: var(--dark-electric-blue);
  line-height: 150%;
  margin-top: 2rem;
}

.highlights-container {
  min-width: 23.4375rem;
  position: relative;
  display: grid;
  grid-template-columns: minmax(1.19rem,2.38rem) minmax(4rem,8rem) minmax(16.4375rem ,32.875rem) minmax(1.81rem,3.62rem);
  grid-template-rows: 3.5rem 6rem 3.3125rem auto 2.5rem  6rem 3.3125rem auto 2.5rem 6rem 3.3125rem auto 3.5rem;
  grid-template-areas: 
  ". . . ."
  ". eat-img . ."
  ". eat-title eat-title ."
  ". eat-text eat-text ."
  ". . . ."
  ". ex-img . ."
  ". ex-title ex-title ."
  ". ex-text ex-text ."
  ". . . ."
  ". sleep-img . ."
  ". sleep-title sleep-title ."
  ". sleep-text sleep-text ."
  ". . . .";
}


/* I've never had cause to use :nth-of-type pseudo-class before so wanted to experiement here and it worked very well and saved a bunch of classes */
.highlight-image:nth-of-type(1) {
  grid-area: eat-img;
}

.highlight-title:nth-of-type(1) {
  grid-area: eat-title;
}

.highlight-text:nth-of-type(1) {
  grid-area: eat-text;
}

.highlight-image:nth-of-type(2) {
  grid-area: ex-img;
}

.highlight-title:nth-of-type(2) {
  grid-area: ex-title;
}

.highlight-text:nth-of-type(2) {
  grid-area: ex-text;
}

.highlight-image:nth-of-type(3) {
  grid-area: sleep-img;
}

.highlight-title:nth-of-type(3) {
  grid-area: sleep-title;
}

.highlight-text:nth-of-type(3) {
  grid-area: sleep-text;
}

.highlights-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
  opacity: 0.25;
}

.highlight-image {
  width: 4rem;
  height: 4rem;
}

.highlight-title {
  color: var(--gunmetal);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.075rem;
}

.highlight-text {
  color: var(--dark-electric-blue);
  line-height: 150%;
}

.limitations-container {
  min-width: 23.4375rem;
  display: grid;
  grid-template-columns:minmax(1.1875rem, 2.375rem) minmax(20.4375rem, 40.875rem) minmax(1.8125rem, 3.625rem);
  grid-template-rows: 4.5rem 4.1875rem auto 3.5rem auto 1rem auto 1rem auto 1rem auto 1rem auto 6rem;
  grid-template-areas: 
  ". . ." 
  ". lim-title ." 
  ". lim-text ." 
  ". . ." 
  ". gender ."
  " . . ." 
  ". age ."
  ". . ." 
  ". muscle ."
  ". . ." 
  ". pregnancy ." 
  ". . ." 
  ". race ."
  ". . .";
}

.limitations-title {
  color: var(--gunmetal);
  font-size: 2rem;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -1.6px;
  text-align: center;
  grid-area: lim-title;
}

.limitations-text {
  color: var(--dark-electric-blue);
  text-align: center;
  justify-self: center;
  grid-area: lim-text;
  line-height: 150%;
  max-width: 57rem;
}

.gender {
  grid-area: gender;
}

.age {
  grid-area: age;
}

.muscle {
  grid-area: muscle;
}

.pregnancy {
  grid-area: pregnancy;
}

.race {
  grid-area: race;
}

.limitation-card {
  min-width: 20.4375rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.limitation-card-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.limitation-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gunmetal);
  letter-spacing: -0.0625rem;
  margin-left: 1rem;
}

.limitation-card-logo {
  width: 2rem;
  height: 2rem;
}

.limitation-card-text {
  color: var(--dark-electric-blue);
  line-height: 150%;
}

@media(min-width:768px) {
  .title-area {
    min-width: 48rem;
    grid-template-columns: 2.44rem minmax(20.18rem, 40.36rem) minmax(2.5rem, 5rem) minmax(20.19rem, 40.28rem) 2.69rem;
    grid-template-rows: 2rem 2.5rem 2.5rem 6.625rem 1.5rem 4.5rem 2.5rem 29.1875rem;
  }

  .main-title {
    letter-spacing: -0.15rem;
  }

  .main-description {
    max-width: 46rem;
  }

  .bmi-calculator {
    max-width: 80rem;
  }

  .details-capture {
    grid-template-columns: 2rem minmax(18.6875rem, 37.375rem) minmax(1.5rem, 3rem) minmax(18.6875rem, 37.375rem) 2rem;
    grid-template-rows: 2rem 1.8125rem 2rem 1.9375rem 2rem 6.125rem 2rem minmax(9.3125rem,auto) 2rem;
    grid-template-areas:
    ". . . . ."
    ". bmi-sub-title bmi-sub-title bmi-sub-title ."
    ". . . . ."
    ". met-imp-selector met-imp-selector met-imp-selector ."
    ". . . . ."
    ". bmi-details-input bmi-details-input bmi-details-input ."
    ". . . . ."
    ". your-bmi-container your-bmi-container your-bmi-container ."
    ". . . . ."
    ;
  }

  .metric-imperial-selector {
    grid-template-columns: 1.9375rem 1.12rem auto 2.5rem 1.9375rem 1.12rem auto;
    
  }

  .bmi-details-metric {
    display: grid;
    grid-area: bmi-details-input;
    grid-template-columns: minmax(18.6875rem, 37.375rem) 1.5rem minmax(18.6875rem, 37.375rem);
    grid-template-rows: 1.8125rem 4.3125rem;
    grid-template-areas: 
    "metric-height-label . metric-weight-label"
    "metric-height-input-container . metric-weight-input-container";
  }

  .metric-height-input-container{
    grid-template-columns: minmax(13.5rem, 27rem) minmax(5.1875rem, 10.375rem);
    grid-template-rows: 4.3125rem;

  }

  .metric-weight-input-container{
    grid-template-columns: minmax(13.5rem, 27rem) minmax(5.1875rem, 10.375rem);
    grid-template-rows: 4.3125rem;
  } 

  .height-measure-cm, .weight-measure-kg {
    padding-left: 1.5rem;
  }

  .bmi-details-imperial {
    display: none;
    grid-area: bmi-details-input;
    grid-template-columns: minmax(18.6875rem, 37.375rem) 1.5rem minmax(18.6875rem, 37.375rem);
    grid-template-rows: 1.8125rem 4.3125rem;
    grid-template-areas: 
    "imperial-height-label . imperial-weight-label"
    "imperial-height-input-container . imperial-weight-input-container";
  }

  .imperial-height-input-container{
    grid-template-columns: minmax(6.25rem, 12.5rem) minmax(2.59375rem, 5.1875) minmax(1rem, 2rem) minmax(6.25rem, 12.5rem) minmax(2.59375rem, 5.1875rem);
    grid-template-rows: 4.3125rem;
  }

  .imperial-weight-input-container{
    grid-template-columns: minmax(6.25rem, 12.5rem) minmax(2.59375rem, 5.1875rem) minmax(1rem,2rem) minmax(6.25rem, 10.5rem)  minmax(2.59375rem, 5.1875rem);
    grid-template-rows: 4.3125rem;
  } 

  .bmi-container {
    display: grid;
    min-width: 48rem;
    grid-template-columns: minmax(19.939rem, 39.878rem) 4.69rem minmax(20.6875rem, 41.375rem) 2.69rem;
    grid-template-rows: 2.19rem 4.375rem 2rem 15rem 2.13rem;
    grid-template-areas: 
    "main-image . . ."
    "main-image . explanation-title ."
    "main-image . . ."
    "main-image . explanation-text."
    "main-image . . .";
    margin: 6rem 0;
  }

  .your-bmi-container {
    border-radius: 10rem 62.4rem 62.4rem 10rem;
    justify-self: center;
    width: 100%;
  }

  .your-bmi-container-result {
    display: flex;
    justify-content: space-between;
  }
  
  .your-bmi-container-result > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .your-bmi-result {
    padding: 0;
    width: 12.549vw;
  }

  .your-bmi-feedback {
    width: 34.766vw;
    max-width: 25rem;
  }

  .bmi-explanation-title {
    grid-area: explanation-title;
  }

  .bmi-explanation-text {
    margin-top: 0;
    grid-area: explanation-text;
    max-width: 30rem;
    align-self: start;
  }

  .main-image-container {
    min-width: 27.1875rem;
    min-height: 25.693rem;
    grid-area: main-image;
    justify-self:end;
    align-self: end;
    margin: 6rem 0 0 0;
  }

  .main-image {
    height: 73%;
    max-height: 22.4625rem;
  }

  .main-image-container > img {
    min-width: 22.5598rem;
    margin: 0 0 0 auto;
    max-width: 27rem;
  }

  .bmi-container-position {
    position: relative;
    overflow: hidden;
  }

  .highlights-container {
    width: 100%;
    grid-template-columns:minmax(2.44rem, 4.88rem) 4rem 2.5rem minmax(36.375rem, 72.75rem) minmax(2.69rem, 5.38rem);
    grid-template-rows: 3.75rem 3.3125rem 3rem 2.5rem 3.3125rem 3rem 2.5rem 3.3125rem 3rem 3.75rem;
    grid-template-areas: 
    ". . . . ."
    ". eat-img . eat-title ."
    ". eat-img . eat-text ."
    ". . . . ."
    ". ex-img . ex-title ."
    ". ex-img . ex-text ."
    ". . . . ."
    ". sleep-img . sleep-title ."
    ". sleep-img . sleep-text ."
    ". . . . ."
    ;
  }


  .highlights-gradient {
    background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
  }

  .highlight-image {
    align-self: center;
  }

  .limitations-container {
    min-width: 48rem;
    grid-template-columns: 2.44rem minmax(20.968rem, 41.936rem) 0.94rem minmax(20.968rem, 41.936rem) 2.69rem;
    grid-template-rows: 6rem 2.1875rem 2rem 4.5rem 3.5rem auto 1.5rem auto 1.5rem auto 6rem;
    grid-template-areas: 
    ". . . . ."
    ". lim-title lim-title lim-title ."
    ". . . . ."
    ". lim-text lim-text lim-text ."
    ". . . . ."
    ". gender . age ."
    ". . . . ."
    ". muscle . pregnancy ."
    ". . . . ."
    ". race . . ."
    ". . . . .";
  } 

    .limitation-card {
      padding: 2rem;
    }

    .race {
      justify-self: center;
      width: 47.526vw;
      grid-column: 2/5;
    }

}

@media(min-width:1440px) {
    .title-area {
      width: 90rem;
      grid-template-columns: 1.5rem 7.25rem 37.25rem 35.25rem 8.75rem;
      grid-template-rows: 4.69rem 6.69rem 5.58rem 10.94rem 11.56rem 6.69rem;
      grid-template-areas: 
      ". . . . ."
      ". . logo . ."
      ". . . calculator ."
      ". . main-title calculator ."
      ". . main-description calculator ."
      ". . . . .";
    }

    .title-gradient {
      margin-left: 1.5rem;
      width: 61.1rem;
      height: 46.0625rem;
    }

    .logo {
      width: 4rem;
      height: 4rem;
      justify-self: start;
    }

    .main-title {
      text-align: left;
      font-size: 4rem;
      letter-spacing: -0.2rem;
    }

    .main-description {
      text-align: left;
      width: 29.0625rem;
      justify-self: start;
    }

    .details-capture {
      grid-template-columns: 2rem 14.875rem 1.5rem 14.875rem 2rem;
      grid-template-rows: 2rem 1.8125rem 2rem 1.9375rem 2rem minmax(6.125rem, auto) 2rem minmax(8.125rem,auto) 2rem;
    }

    .bmi-details-metric {
      grid-template-columns: 14.875rem 1.5rem 14.875rem;
    }

    .metric-height-input-container{
      grid-template-columns: 9.6875rem 5.1875rem;
      grid-template-rows: 4.3125rem;
    }

    .metric-weight-input-container{
      grid-template-columns: 9.6875rem 5.1875rem;
      grid-template-rows: 4.3125rem;
    } 

    .height-measure-cm, .weight-measure-kg, .weight-measure-lbs, .weight-measure-st, .height-measure-ft, .height-measure-in {
      padding-right: 1.5rem;
      justify-self: end;
    }

    .bmi-details-imperial {
      grid-template-columns: 14.875rem 1.5rem 14.875rem;
      grid-template-rows: 1.8125rem 4.3125rem 1.5rem 1.8125rem 4.3125rem;
      grid-template-areas: 
      "imperial-height-label . ."
      "imperial-height-input-container imperial-height-input-container imperial-height-input-container"
      ". . ."
      "imperial-weight-label . ."
      "imperial-weight-input-container imperial-weight-input-container imperial-weight-input-container";
    }
    
    .imperial-height-input-container {
      grid-template-columns: 9.6875rem 5.1875rem 1.5rem 9.6875rem 5.1875rem;
      grid-template-rows: 4.3125rem;
      grid-template-areas: 
      "imperial-height-input-ft imperial-height-input-ft . imperial-height-input-in imperial-height-input-in";
    }
    
    .imperial-weight-input-container {
      grid-template-columns:  9.6875rem 5.1875rem 1.5rem 8.875rem 0.8125rem 5.1875rem;
      grid-template-rows: 4.3125rem;
      grid-template-areas: 
      "imperial-weight-input-st imperial-weight-input-st . imperial-weight-input-lbs imperial-weight-input-lbs imperial-weight-input-lbs";
    }

    .weight-measure-lbs {
      grid-column: 6/7;
    }

    .your-bmi-title {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: -0.075rem;
      margin-bottom: 1rem;
      line-height: normal;
    }

    .your-bmi-result-title {
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 0.5rem;
    }
    .left-swoop-img, .right-swoop-img {
      display: block;
    }

    .left-swoop-img {
      grid-area: swoop-left;
      width: 5.3125rem;
      height: 12.5rem;
    }

    .bmi-container {
      margin: 0;
      width: 90rem;
      grid-template-columns: 8.75rem 35.25rem 8.19rem 22.06rem 7.003rem 10.44rem;
      grid-template-rows: 0.81rem 3.25rem 9.06rem 2.43rem 8.815rem 10.5rem 2.5rem 6rem;
      grid-template-areas: 
      ". . . . . ."
      ". . . . swoop-left ."
      ". main-image . . swoop-left ."
      ". main-image . . . ."
      ". main-image . explanation-title explanation-title explanation-title"
      ". main-image . explanation-text explanation-text ."
      ". main-image . . . ."
      ". . . . . ."
      ;
    }

    .your-bmi-container-result > div {
      width: 12.875rem;
    }

    .your-bmi-feedback {
      width: 12.875rem;
      font-size: 0.875rem;
    }

    .main-image-container {
      width: 35.25rem;
    }

    .main-image {
      max-height: 24.245rem;
      height: 100%;
    }

    .main-image-container > img {
      width: 29.25rem;
      height: 33.3125rem;
      max-width: none;
      margin: auto;
    }

    .bmi-explanation-title {
      font-size: 3rem;
      width: 29.0625rem;
      align-self: flex-start;
      letter-spacing: -0.15rem
    }

    .bmi-explanation-text {
      width: 29.0625rem;
    }

    .highlights-container {
      width: 87rem;
      grid-template-columns: 7.25rem 22.8125rem 2rem 22.8125rem 2rem 22.8125rem 7.31rem;
      grid-template-rows: 4.5rem 6.61rem 3.3125rem 4.5rem 6rem;
      grid-template-areas: 
      ". . . . . . ."
      ". eat-img . ex-img . sleep-img ."
      ". eat-title . ex-title . sleep-title ."
      ". eat-text . ex-text . sleep-text ."
      ". . . . . . .";
    }

    .highlights-gradient {
      border-radius: 2.19rem;
    }

    .highlight-image:nth-of-type(1), .highlight-image:nth-of-type(2), .highlight-image:nth-of-type(3) {
      align-self: start;
    }

    .limitations-container {
      width: 90rem;
      grid-template-rows: 7.5rem 3.3125rem 2.1875rem 6rem 3rem 1.1875rem 0.8125rem 6.8125rem 4.6875rem 1.5rem 14.5em 7.5rem;
      grid-template-columns: 8.75rem 10.3125rem 2.125rem 3.75rem 8.6875rem 10.375rem 2rem 6.25rem 4.1875rem 2rem 10.375rem 6.4rem 6.1875rem 8.75rem;
      grid-template-areas: 
      ". . . . . . . . . . . . . ."
      ". lim-title lim-title lim-title lim-title . . . gender gender gender gender . ."
      ". . . . . . . . gender gender gender gender . ." 
      ". lim-text lim-text lim-text lim-text lim-text . . gender gender gender gender . ."
      ". . . . . . . . gender gender gender gender . ."
      ". . . . . . . . . . . . . ."
      ". . swoosh swoosh . . . . . . . . . ."
      ". . swoosh swoosh . age age age age . muscle muscle muscle ."
      ". . swoosh swoosh . age age age age . muscle muscle muscle ."
      ". . . . . . . . . . . . . ."
      ". . .  pregnancy pregnancy pregnancy . race race race race . . ."
      ". . . . . . . . . . . . . .";
    }

    .limitations-title {
      text-align: left;
      font-size: 3rem;
      letter-spacing: -0.15rem;
    }

    .limitations-text {
      text-align: left;
      padding: 0;
      max-width: none;
    }

    .right-swoop-img {
      display: block;
      grid-area: swoosh;
      height: 7.625rem;
      width: 5.875rem;
    }

    .limitation-card {
      width: 22.8rem;
      padding: 2rem;
    }

    .race {
      justify-self:auto;
      width: 22.8125rem;
      grid-column: 8/11;
    }

} 