

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
}

:root {
  --gunmetal: hsl(215, 31%, 21%);
  --white: #fff;
  --dark-electric-blue: hsla(215, 17%, 44%, 1);

}

body {
  font-family: 'Inter', sans-serif;
  caret-color: transparent;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-area {
  position: relative;
  display: grid;
  width: 23.4375rem;
  
  grid-template-columns: minmax(1.5rem, 3rem) minmax(9rem, 18rem) minmax(2.5rem,5rem) minmax(9rem, 18rem) minmax(1.5rem, 3rem);
  grid-template-rows: 2rem 2.5rem 1.5rem 9.9375rem 1.5rem 9rem 3rem 40.5625rem;
  grid-template-areas: 
  ". . . . ."
  ". . logo . ."
  ". . . . ."
  ". main-title main-title main-title ."
  ". . . . ."
  ". main-description main-description main-description ."
  ". . . . ."
  ". calculator calculator calculator ."
  ;
}

.title-gradient {
  position: absolute;
  width: 23.4375rem;
  height: 40rem;
  z-index: -1;
  border-radius: 0px 0px 35px 35px;
  background:linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
  ;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  grid-area: logo;
}

.main-title {
  color: var(--gunmetal, #253347);
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 110%; 
  letter-spacing: -2.4px;
  grid-area: main-title;
}

.main-description {
  color: var(--dark-electric-blue, #5E6E85);
  text-align: center;
  font-weight: 400;
  line-height: 150%; 
  grid-area: main-description;
}

.bmi-calculator {
  border-radius: 16px;
  background-color: var(--white);
  width: 20.5rem;
  grid-area: calculator;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.details-capture {
  display: grid;
  grid-template-columns: 1.5rem 8.75rem 8.75rem 1.5rem;
  grid-template-rows: 1.5rem 1.8125rem 1.5rem 1.9375rem 1.5rem 13.25rem 1.5rem 16.0625rem 1.5rem;

  grid-template-areas:
  ". . . ."
  ". bmi-sub-title bmi-sub-title ."
  ". . . ."
  ". met-imp-selector met-imp-selector ."
  ". . . ."
  ". bmi-details-input bmi-details-input ."
  ". . . ."
  ". your-bmi-container your-bmi-container ."
  ". . . ."
  ;
}

.bmi-sub-title {
  grid-area: bmi-sub-title;
  color: var(--gunmetal);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.metric-imperial-selector {
  grid-area: met-imp-selector;
  display: flex;
  align-items: center;
}

.radio-label {
  margin-left: 1.125rem;
  line-height: 150%;
  font-weight: 600;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.9375rem;
  height: 1.9375rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  stroke-width: 1px;
  cursor: pointer;
}

input[type="radio"]:last-of-type {
  margin-left: 3.3125rem;
}

input[type="radio"]:focus, input[type="radio"]:hover {
  border-color: hsla(227, 92%, 58%, 1);
}

input[type="radio"]:before {
  background-image: url("img/Group32.svg")
}

input[type="radio"]:checked {
  background: url("img/Group32.svg") center;
}

.bmi-details-metric {
  display: grid;
  grid-area: bmi-details-input;
  grid-template-columns: 1.5rem 13.8125rem 2.1875rem 1.5rem;
  grid-template-rows: 1.8125rem 4.3125rem 1rem 1.8125rem 4.3125rem;
  grid-template-areas: 
  "metric-height-label metric-height-label . ."
  "metric-height-input-container metric-height-input-container metric-height-input-container metric-height-input-container"
  ". . . . "
  "metric-weight-label metric-weight-label . ."
  "metric-weight-input-container metric-weight-input-container metric-weight-input-container metric-weight-input-container"
 ;
}

.metric-height-input-container{
  grid-area: metric-height-input-container;
  display: grid;
  grid-template-columns: 13.8125rem 3.6875rem;
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "metric-height-input metric-height-input";
}

.metric-weight-input-container{
  grid-area: metric-weight-input-container;
  display: grid;
  grid-template-columns: 13.8125rem 3.6875rem;
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "metric-weight-input metric-weight-input";
}

#metricHeight {
  grid-area: metric-height-input;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:12px
}

#metricWeight {
  grid-area: metric-weight-input;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:12px
}

.height-measure-cm, .weight-measure-kg {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  color:hsla(227, 92%, 58%, 1);
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 1.25rem 0 0 0;
}

.bmi-details-imperial {
  display: grid;
  grid-area: bmi-details-input;
  grid-template-columns: 1.5rem 13.8125rem 2.1875rem 1.5rem;
  grid-template-rows: 1.8125rem 4.3125rem 1rem 1.8125rem 4.3125rem;
  grid-template-areas: 
  "imperial-height-label imperial-height-label . ."
  "imperial-height-input-container imperial-height-input-container imperial-height-input-container imperial-height-input-container"
  ". . . . "
  "imperial-weight-label imperial-weight-label . ."
  "imperial-weight-input-container imperial-weight-input-container imperial-weight-input-container imperial-weight-input-container"
 ;
}

.imperial-height-input-container{
    grid-area: imperial-height-input-container;
    display: grid;
    grid-template-columns: 5.6875rem 2.5625rem 1rem 5.5rem 2.75rem;
    grid-template-rows: 4.3125rem;
    grid-template-areas: 
    "imperial-height-input-ft imperial-height-input-ft . imperial-height-input-in imperial-height-input-in";
}

.imperial-weight-input-container{
  grid-area: imperial-weight-input-container;
  display: grid;
  grid-template-columns: 5.6875rem 2.5625rem 1rem 4.6875rem 0.8125rem 2.75rem;
  grid-template-rows: 4.3125rem;
  grid-template-areas: 
  "imperial-weight-input-st imperial-weight-input-st . imperial-weight-input-lbs imperial-weight-input-lbs imperial-weight-input-lbs";
}

#imperialHeight-ft{
  grid-area: imperial-height-input-ft;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:12px
}

#imperialHeight-in{
  grid-area: imperial-height-input-in;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:12px
}

#imperialWeight-st{
  grid-area: imperial-weight-input-st;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:12px
}

#imperialWeight-lbs{
  grid-area: imperial-weight-input-lbs;
  padding-left: 1.5rem;
  border: 1px hsla(200, 24%, 88%, 1) solid;
  border-radius:12px
}

.height-measure-ft, .height-measure-in, .weight-measure-st, .weight-measure-lbs {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  color:hsla(227, 92%, 58%, 1);
  padding: 1.25rem 0 0 0;
}

.height-measure-ft {
  grid-row: 1/2;
  grid-column: 2/3;
}

.height-measure-in {
  grid-row: 1/2;
  grid-column: 5/6;
}

.weight-measure-st {
  grid-row: 1/2;
  grid-column: 2/3;
}

.weight-measure-lbs {
  grid-row: 1/2;
  grid-column: 5/6;
  justify-self: start;
}

label[for="metricHeight"] {
  grid-area: metric-height-label;
}

label[for="metricWeight"] {
  grid-area: metric-weight-label;
}

label[for="metricHeight"], label[for="metricWeight"] {
  font-size: 0.875rem;
  color: hsla(215, 17%, 45%, 1);
}

label[for="imperialHeight"] {
  grid-area: imperial-height-label;
}

label[for="imperialWeight"] {
  grid-area: imperial-weight-label;
}

label[for="imperialHeight"], label[for="imperialWeight"] {
  font-size: 0.875rem;
  color: hsla(215, 17%, 45%, 1);
}

.bmi-details-imperial {
  display: none;
  grid-area: bmi-details-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="number"] {
  font-family: 'Inter', sans-serif;
  border: none;
  font-size: 1.5rem;
  letter-spacing: -1.2px;
  color:var(--gunmetal);
  padding: 0;
  cursor: pointer;
}

input[type="number"]:active, input[type="number"]:focus {
  border: hsla(227, 92%, 58%, 1) 1px solid;
}

.your-bmi-container {
  border-radius: 1rem;
  padding: 2rem 2rem;
  grid-area: your-bmi-container;
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
  color: var(--white)
  ;
}

.your-bmi-title {
  font-weight: 600;
  line-height: 150%;
}

.your-bmi-result {
  font-size: 3rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
  padding: 0.5rem 0 1.5rem 0;
}

.bmi-container {
  width: 23.4375rem;
  margin-bottom: 4.4756rem;
}
.main-image {
  width: 23.4375rem;
  margin-top: 168.41px;
  position: relative;
}

.main-image > img {
position: absolute;
bottom: 0;
left: 2rem;
}

.your-bmi-feedback {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.left-swoop-img {
  display: none;
}

.right-swoop-img {
  display: none;
}

.bmi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 23.4375rem;
  background: hsl(203, 92%, 95%, 1);
  border-radius: 2rem;
  height: 16.125rem;
}

.main-image > img {
  width: 20.5rem;
  height: 22.125rem;
}

.bmi-explanation-container {
  width: 20.5rem;
  margin-top: 3rem;
}

.bmi-explanation-title {
  color: var(--gunmetal);
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1.6px;
}

.bmi-explanation-text {
  color: var(--dark-electric-blue);
  line-height: 150%;
  font-weight: 400;
  margin-top: 2rem;
}

.highlights-container {
  padding: 3.5rem 1.81rem 1rem 1.19rem;
  width: 23.4375rem;
  
}

.highlight {
  margin-bottom: 2.5rem;
}

.highlight-image {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.highlight-title {
  color: var(--gunmetal);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  margin-bottom: 1.5rem;
}

.highlight-text {
  color: var(--dark-electric-blue);
}

.limitations-container {
  width: 23.4375rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: 1.1875rem 20.4375rem 1.8125rem;
  grid-template-rows: 4.5rem 2.1875rem 2rem 9rem 3.5rem 13.5rem 1rem 10.5rem 1rem 12rem 1rem 15rem 1rem 13.5rem;
  grid-template-areas: 
  ". . ." 
  ". lim-title ." 
  ". . ." 
  ". lim-text ." 
  ". . ." 
  ". gender ."
  " . . ." 
  ". age ."
  ". . ." 
  ". muscle ."
  ". . ." 
  ". pregnancy ." 
  ". . ." 
  ". race .";
}

.limitations-title {
  color: var(--gunmetal);
  font-size: 2rem;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -1.6px;
  text-align: center;
  grid-area: lim-title;
}

.limitations-text {
  color: var(--dark-electric-blue);
  text-align: center;
  grid-area: lim-text;
  font-weight: 400;
  line-height: 150%;
}

.gender {
  grid-area: gender;
}

.age {
  grid-area: age;
}

.muscle {
  grid-area: muscle;
}

.pregnancy {
  grid-area: pregnancy;
}

.race {
  grid-area: race;
}

.limitation-card {
  width: 20.4375rem;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.limitation-card-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.limitation-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gunmetal);
  letter-spacing: -1px;
  margin-left: 1rem;
}

.limitation-card-logo {
  width: 2rem;
  height: 2rem;
}

.limitation-card-text {
  color: var(--dark-electric-blue);
  line-height: 150%;
}

/* 

tablet size
.limitations-container {
    display: grid;
    grid-template-rows: 6rem 2.1875rem 2rem 4.5rem 3.5rem 14.5rem 1.5rem 16rem 1.5rem 14.5rem;
    grid-template-columns: 2.4375rem 10rem 10.9375rem 0.9375rem 10.9375rem 10rem 2.6875rem;
    grid-template-areas: 
    ". . . . . . ."
    ". . lim-title lim-title lim-title . ."
    ". . . . . . ."
    ". lim-text lim-text lim-text lim-text lim-text ."
    ". . . . . . ."
    ". gender gender . age age ."
    ". . . . . . ."
    ". muscle muscle . pregnancy pregnancy ."
    ". . . . . . ."
    ". . race race race. ."
    ;
  } */
/* 

desktop size
@media(min-width:900px) {
  

.limitations-container {
  width: 90rem;
  grid-template-rows: 7.5rem 3.3125rem 2.1875rem 6rem 3rem 1.1875rem 0.8125rem 6.8125rem 4.6875rem 1.5rem 14.5em 7.5rem;
  grid-template-columns: 8.75rem 10.3125rem 2.125rem 3.75rem 8.6875rem 10.375rem 2rem 6.25rem 4.1875rem 2rem 10.375rem 7.875rem 6.1875rem 8.75rem;
  grid-template-areas: 
  ". . . . . . . . . . . . . ."
  ". lim-title lim-title lim-title lim-title . . . gender gender gender gender . ."
  ". . . . . . . . gender gender gender gender . ." 
  ". lim-text lim-text lim-text lim-text lim-text . . gender gender gender gender . ."
  ". . . . . . . . gender gender gender gender . ."
  ". . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . ."
  ". . swoosh swoosh . age age age age . muscle muscle muscle ."
  ". . swoosh swoosh . age age age age . muscle muscle muscle ."
  ". . . . . . . . . . . . . ."
  ". . .  pregnancy pregnancy pregnancy . race race race race . . ."
  ". . . . . . . . . . . . . ."
  
}

  .limitations-title {
    text-align: left;
    font-size: 3rem;
    letter-spacing: -2.4px;
  }

  .limitations-text {
    text-align: left;
    padding: 0;
  }

  .right-swoop-img {
    display: block;
    grid-area: swoosh;
    height: 7.625rem;
    width: 5.875rem;
  }

  .limitation-card {
    width: 22.8rem;
  }

} */